.panel-warning{
    border-color:#D35400;
}

#main-wrapper{
    max-width: 1000px;
    margin: 0 auto;
}
.panel-warning>.panel-heading{
    background-color:#D35400;
    border-color:#D35400;
}

h3.panel-title{
    color:white;
    font-weight:300;
}
div.decks ul li{
    margin:15px 25px;
    width: 255px;
    list-style-type: none;
}
div.decks ul li a{
    display:block;
    border-radius:5px;
    border:1px solid #636363;
    overflow:hidden;
}

div.decks ul li h4 {
    text-align: center;
    margin: 15px auto;
}

div.decks ul li a img {
    width: 100%;
}

div.question {
    position: relative;

    .btn-edit {
        position: absolute;
        right: -175px;
        top: 139px;
        height: 45px;
    }
}

div.duo .img {
    height: 230px;
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

div.duo img {
    max-width: 100%;
}
