<div id="main-wrapper">

    <div class="new-deck">

    </div>


    <!-- List of decks -->
    <div class="decks">
        <ul>
            <li data-ng-repeat="deck in decks" class="pull-left">
                <a href="/#/edit/{{ deck.id }}">
                    <img ng-src="{{ deck.picture }}" alt="" width="250" height="150"/>
                    <p class="text-center" style="line-height:38px;margin-bottom:0;">{{ deck.name }}</p>
                </a>
            </li>
        </ul>
    </div>

</div>
